<div>
    <div>
    {{#if contacts}}
        <h1>si pes</h1>
    {{else}}
    <p>No pes</p>

        {{/if}}

        </div>
  <form action='/new-contact' method= 'POST'>
      <input type="text" name="firstname" 
      placeholder="firstname" >

      <input type="text" name="lastname" 
      placeholder="lastname" >

      <input type="text" name="email" 
      placeholder="email" >

      <input type="text" name="phone" 
      placeholder="phone" >

      <button>AGREGAR</button>
  </form>
</div>